<div><a href="https://ca.news.yahoo.com/facebook-shares-slide-reports-data-misuse-120513980--finance.html">
Facebook shares slide after reports of data misuse
</a></div>

<div><a href="https://www.fastcompany.com/40546112/police-are-asking-google-to-provide-user-data-for-all-people-near-crime-scenes">
Police Order GOOGLE To Hand Over Location Data For All People Near Crime Scenes...
</a></div>

<div><p><a href="https://nypost.com/2018/03/07/millennials-are-starting-to-hate-social-media-too/">
Millennials Begin Exodus from Social Media
</a></p></div>

<div><p><a href="https://www.independent.co.uk/life-style/millennials-quarter-live-crisis-half-25-35-finance-career-property-first-direct-a8253036.html">
Six in 10 millennials in 'quarter-life' crisis...
</a></p></div>

<hr>

<div><p><a href="https://www.express.co.uk/life-style/cars/928482/diesel-car-scrappage-toyota-diesel-engine-UK">
Toyota to stop selling diesel cars in all European markets by the end of year
</a></p></div>

<div><p><a href="https://www.express.co.uk/news/uk/930075/NHS-crisis-UK-health-alcohol-related-problems-cancer-liver-disease-norman-lamb-mp">
Alcohol-related health issues' SHARP rise leave NHS straining
</a></p></div>

<div><p><a href="https://www.mirror.co.uk/news/world-news/scientists-warn-mysterious-deadly-new-12160964">
Scientists warn of mysterious new epidemic 'Disease X'...
</a></p></div>

<div><p><a href="http://www.independent.co.uk/news/health/organ-donation-opt-out-consent-law-public-trust-ethics-trust-nhs-healthcare-a8225756.html">
Organ donation consent law change could 'undermine' public trust
</a></p></div>

<div><p><a href="http://www.dailymail.co.uk/sciencetech/article-5462877/Clean-meats-sale-end-year.html">
Lab-grown meat coming soon
</a></p></div>