<div><a href="https://www.theguardian.com/technology/2018/nov/18/google-news-may-shut-over-eu-plans-to-charge-tax-for-links">
GOOGLE News may shut over EU 'link tax' plans
</a></div>

<div><a href="https://www.telegraph.co.uk/technology/2018/11/08/emb-thurs-children-have-1000-pictures-posted-online-turn-13/">
Digital footprint starts in the womb
</a></div>

<div><a href="https://sg.news.yahoo.com/china-used-tiny-chips-us-computers-steal-secrets-135924842.html">
Chinese spy chips said to be found in hardware used by APPLE, AMAZON...
</a></div>

<div><a href="https://www.bloomberg.com/news/features/2018-10-04/the-big-hack-how-china-used-a-tiny-chip-to-infiltrate-america-s-top-companies">
China Stealing secrets from Americas top companies...
</a></div>

<div><a href="https://www.zerohedge.com/news/2018-10-02/bezos-decision-raise-wages-largely-machiavellian-distraction">
Bezos' Decision To Raise Wages Is Largely A Machiavellian Distraction
</a></div>

<div><a href="https://www.zerohedge.com/news/2018-09-15/robinhood-investing-app-makes-millions-selling-users-data-high-frequencstealing">
Robinhood Investing App Secretly Makes Millions Selling Millennials' User Data
</a></div>

<div><a href="https://theintercept.com/2018/08/01/google-china-search-engine-censorship/">
Google Plans to Launch Censored Search Engine in China, Leaked Documents Reveal
</a></div>

<div><a href="https://www.axios.com/google-one-third-time-spent-online-youtube-waze-a2c2ed61-2140-42bb-bb2b-c81dbbf9ca8d.html">
 GOOGLE consumes one-third of our digital minds...
</a></div>

<div><a href="http://uk.businessinsider.com/emails-show-rbs-bankers-joked-about-crashing-us-housing-market-before-2008-2018-8?op=1&r=US&IR=T">
RBS bankers joked about destroying the US housing market
</a></div>

<div><a href="https://www.reuters.com/article/us-china-apple-icloud-insight/apple-moves-to-store-icloud-keys-in-china-raising-human-rights-fears-idUSKCN1G8060">
Apple moves to store iCloud keys in China, raising human rights fears
</a></div>

<div><a href="https://www.cnet.com/news/mozilla-exec-says-google-slowed-youtube-down-on-non-chrome-browsers/">
Mozilla exec says Google slowed YouTube down on non-Chrome browsers
</a></div>

<div><a href="https://www.thesun.co.uk/tech/6481234/memes-death-eu-copyright-law/">
Death of MEMEs? MEPs in favour change to EU copyright law
</a></div>

<div><a href="http://www.dailymail.co.uk/news/article-5905179/Absent-parents-passports-confiscated.html">
Absent parents could potentially have passports confiscated
</a></div>

<div><a href="https://www.theguardian.com/global/shortcuts/2017/oct/29/how-the-actual-magic-money-tree-works">
85% of MPs unaware how new money is created
</a></div>

<div><a href="https://www.telegraph.co.uk/science/2018/05/21/ultra-clean-homes-could-trigger-childhood-leukaemia-major-review/">
Ultra-clean homes trigger cancer?
</a></div>

<div><a href="https://www.theguardian.com/world/2018/apr/03/being-cash-free-puts-us-at-risk-of-attack-swedes-turn-against-cashlessness">
'Being cash-free puts us at risk of attack': Swedes turn against cashlessness 
</a></div>

<div><a href="https://cointelegraph.com/news/south-koreas-largest-crypto-exchange-bithumb-to-supply-crypto-kiosks-to-restaurants">
South Korea's Largest Crypto Exchange Bithumb To Supply Crypto Kiosks To Restaurants
</a></div>

<div><a href="https://cointelegraph.com/news/wall-street-analyst-creates-bitcoin-misery-index-for-traders">
Wall Street Analyst Creates 'Bitcoin Misery Index For Traders
</a></div>

<div><a href="https://www.ccn.com/report-alleges-egyptian-government-secretly-mining-cryptocurrencies-citizens-devices/">
Report Alleges Egyptian Government is Secretly Mining Cryptocurrencies on Citizens' Devices
</a></div>

<div><a href="https://www.reuters.com/article/us-china-parliament-surveillance/china-eyes-black-tech-to-boost-security-as-parliament-meets-idUSKBN1GM06M">
China eyes 'black tech' to boost security as parliament meets
</a></div>

<div><a href="https://www.fastcompany.com/40546112/police-are-asking-google-to-provide-user-data-for-all-people-near-crime-scenes">
Police Order GOOGLE To Hand Over Location Data For All People Near Crime Scenes...
</a></div>





