<div><p><a href="https://www.bloomberg.com/news/articles/2018-02-28/-booth-babes-banished-as-carmakers-opt-for-less-flesh-in-geneva">
'Booth Babes' Banished
</a></p></div>

<div><p><a href="https://www.sfgate.com/news/article/Russia-s-young-people-are-Putin-s-biggest-fans-12741826.php">
Russias young people, Putins biggest fans
</a></p></div>

<div><p><a href="http://www.miamiherald.com/news/nation-world/world/americas/colombia/article203230594.html">
From murder capital to retiree haven, how Medellin has outgrown "Narcos'
</a></p></div>



