<div><a href="https://www.telegraph.co.uk/technology/2018/11/05/sir-tim-berners-lee-launches-magna-carta-web-save-internet-abuse/">
Sir Tim Berners-Lee launches 'Magna Carta for the web' to save internet
</a></div>

<div><a href="https://www.nytimes.com/2018/08/13/business/behavioral-biometrics-banks-security.html">
Banks and Retailers Are Tracking How You Type, Swipe and Tap
</a></div>

<div><a href="https://www.bloombergquint.com/pursuits/modern-love-cohabitation-on-rise-in-u-s-demographic-trends#gs.pMxcIh0">
Cohabitation on Rise in U.S.
</a></div>

<div><a href="https://www.bloombergquint.com/onweb/almost-half-of-u-s-births-happen-outside-marriage-signaling-cultural-shift#gs.aucxGkI">
Almost Half of U.S. Births Happen Outside Marriage, Signaling Cultural Shift
</a></div>

<div><a href="https://www.newsweek.com/zoo-weans-animals-fruit-because-its-increased-sugar-makes-them-fat-and-rots-1145259">
Melbourne Zoo: Fruits too sugary for animals; rotting teeth and gaining weight
</a></div>

<div><a href="https://www.wsj.com/articles/luxury-homeowners-retreat-with-sensory-deprivation-tanks-1532528989">
Luxury Homeowners Retreat With Sensory-Deprivation Tanks 
</a></div>

<div><a href="https://www.studyfinds.org/study-happiest-teens-use-smartphones-less-than-hour-day/">
Happiest Teens Use Smartphones, Digital Media Less Than An Hour A Day
</a></div>

<div><a href="https://nypost.com/2018/03/07/millennials-are-starting-to-hate-social-media-too/">
Millennials Begin Exodus from Social Media
</a></div>

<div><a href="https://www.wired.com/story/twitter-bots-links/">
Most Links to Popular Sites on Twitter Come From Bots
</a></div>

<div><a href="https://www.sfgate.com/technology/businessinsider/article/Switzerland-has-a-stunningly-high-rate-of-gun-12709383.php">
Switzerland has high rate of gun ownership - and no mass shootings...
</a></div>

<div><a href="https://www.reuters.com/article/us-malaysia-politics/malaysia-proposes-jail-for-up-to-10-years-fines-for-fake-news-idUSKBN1H20FM">
Malaysia proposes jail for up to 10 years, fines for 'fake news'
</a></div>

<div><a href="https://www.technologyreview.com/s/612458/exclusive-chinese-scientists-are-creating-crispr-babies/">
China creating GENE-EDITED babies
</a></div>

<div><a href="https://www.reuters.com/article/us-china-society-points/beijing-pioneering-citizens-points-system-critics-brand-orwellian-idUSKCN1NP0FT">
Beijing pioneering citizens' 'points' system critics brand 'Orwellian'
</a></div>

<div><a href="https://www.bloomberg.com/news/articles/2018-11-21/beijing-to-judge-every-resident-based-on-behavior-by-end-of-2020">
Beijing to Judge Every Resident Based on Behavior by End of 2020
</a></div>

<div><a href="https://thenextweb.com/insider/2018/03/17/china-to-ban-citizens-with-bad-social-credit-from-some-forms-of-travel/">
China to ban citizens with bad ‘social credit’ from some forms of travel
</a></div>

<div><a href="https://sg.news.yahoo.com/china-used-tiny-chips-us-computers-steal-secrets-135924842.html">
Chinese spy chips said to be found in hardware used by APPLE, AMAZON...
</a></div>

<div><a href="http://www.dailymail.co.uk/sciencetech/article-5603921/Your-memories-read-replayed-DIE.html">
Could the police replay murder victims' memories after they DIE?
</a></div>

<div><a href="https://www.bloomberg.com/news/articles/2018-02-28/-booth-babes-banished-as-carmakers-opt-for-less-flesh-in-geneva">
'Booth Babes' Banished
</a></div>

<div><a href="https://www.studyfinds.org/cleaning-house-happier-relaxed-better-sleep-survey/">
People Who Enjoy Cleaning The House Are Happier, More Relaxed, Survey Finds
</a></div>

<div><a href="https://www.sfgate.com/news/article/Russia-s-young-people-are-Putin-s-biggest-fans-12741826.php">
Russias young people, Putins biggest fans
</a></div>

<div><a href="https://www.express.co.uk/news/uk/958844/uk-care-homes-robots-elderly">
Elderly to be cared for by robots
</a></div>

<div><a href="http://www.miamiherald.com/news/nation-world/world/americas/colombia/article203230594.html">
From murder capital to retiree haven, how Medellin has outgrown "Narcos'
</a></div>

<div><a href="http://www.dailymail.co.uk/news/article-5516745/Scientists-uncover-20-genes-linked-transgender.html">
Trans genes
</a></div>

<div><a href="http://www.dailymail.co.uk/sciencetech/article-5578643/Scientists-implant-miniature-human-brain-mouse-grows-blood-vessels.html">
Mini-human brains with their own BLOOD VESSELS are grown
</a></div>

<div><a href="http://www.dailymail.co.uk/sciencetech/article-5462877/Clean-meats-sale-end-year.html">
Lab-grown meat coming soon
</a></div>