<div><a href="https://www.nytimes.com/2018/08/13/business/behavioral-biometrics-banks-security.html">
Banks and Retailers Are Tracking How You Type, Swipe and Tap
</a></div>

<div><a href="https://www.newsweek.com/zoo-weans-animals-fruit-because-its-increased-sugar-makes-them-fat-and-rots-1145259">
Melbourne Zoo: Fruits too sugary for animals; rotting teeth and gaining weight
</a></div>

<div><a href="https://www.wsj.com/articles/luxury-homeowners-retreat-with-sensory-deprivation-tanks-1532528989">
Luxury Homeowners Retreat With Sensory-Deprivation Tanks 
</a></div>

<div><a href="https://www.telegraph.co.uk/news/2018/07/05/illegal-migrants-paris-suburb-soar-400000-hundreds-migrant-children/">
Illegal immigration in Paris suburb soars to 400,000
</a></div>

<div><a href="https://www.wired.com/story/twitter-bots-links/">
Most Links to Popular Sites on Twitter Come From Bots
</a></div>

<div><a href="https://www.sfgate.com/technology/businessinsider/article/Switzerland-has-a-stunningly-high-rate-of-gun-12709383.php">
Switzerland has high rate of gun ownership - and no mass shootings...
</a></div>

<div><a href="https://www.reuters.com/article/us-malaysia-politics/malaysia-proposes-jail-for-up-to-10-years-fines-for-fake-news-idUSKBN1H20FM">
Malaysia proposes jail for up to 10 years, fines for 'fake news'
</a></div>

<div><a href="https://thenextweb.com/insider/2018/03/17/china-to-ban-citizens-with-bad-social-credit-from-some-forms-of-travel/">
China to ban citizens with bad ‘social credit’ from some forms of travel
</a></div>

<div><a href="http://www.dailymail.co.uk/sciencetech/article-5603921/Your-memories-read-replayed-DIE.html">
Could the police replay murder victims' memories after they DIE?
</a></div>

<div><a href="https://www.bloomberg.com/news/articles/2018-02-28/-booth-babes-banished-as-carmakers-opt-for-less-flesh-in-geneva">
'Booth Babes' Banished
</a></div>

<div><a href="https://www.studyfinds.org/cleaning-house-happier-relaxed-better-sleep-survey/">
People Who Enjoy Cleaning The House Are Happier, More Relaxed, Survey Finds
</a></div>

<div><a href="https://www.sfgate.com/news/article/Russia-s-young-people-are-Putin-s-biggest-fans-12741826.php">
Russias young people, Putins biggest fans
</a></div>

<div><a href="http://www.miamiherald.com/news/nation-world/world/americas/colombia/article203230594.html">
From murder capital to retiree haven, how Medellin has outgrown "Narcos'
</a></div>

<div><a href="http://www.dailymail.co.uk/news/article-5516745/Scientists-uncover-20-genes-linked-transgender.html">
Trans genes
</a></div>

<div><a href="http://www.dailymail.co.uk/sciencetech/article-5578643/Scientists-implant-miniature-human-brain-mouse-grows-blood-vessels.html">
Mini-human brains with their own BLOOD VESSELS are grown
</a></div>