<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>arch Archive</title>
</head>
<body>
    <h3>arch Archive</h3>


<p>Date: 19/303/2018</p>
<div><p><a href="https://www.thetimes.co.uk/edition/news/mothers-day-cards-go-gender-neutral-nc0rpxf00">
Mother’s Day cards go gender-neutral
</a></p></div>

<p>Date: 12/03/2018</p>
<div><p><a href="http://www.breitbart.com/social-justice/2018/03/09/oxford-university-issues-public-apology-after-photo-of-female-custodian-cleaning-campus-goes-viral/">
Oxford University issues public apology after photo of female custodian cleaning the campus on International Women's Day went viral
</a></p></div>
    
</body>
</html>