<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="News article links archreport gohilreport">
    <meta name="keywords" content="news,links,archreport,gohilreport">
    <meta name="author" content="Hitesh Gohil">

    <title>GohilReport</title>

    <link rel="stylesheet" href="public/assets/style.css">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway" rel="stylesheet">

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous">
    </script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

</head>
<body>
{{!-- <small>BTC/USD <i id="btcUSD"></i></small> --}}
<div></div>

    <div class="wrapper">

        <div class="box box1">
            <h4>Gohil Report</h4>
            {{> alert}}
            
        </div>

        <div class="box box2">  {{> box2}} </div><!--box2-->
        <div class="box box3">  {{> box3}} </div><!--box3-->
        <div class="box box4">  {{> box4}} </div><!--box4-->

    </div>


    <script>

        async function btcPrice(){
            let res = await fetch('https://api.coindesk.com/v1/bpi/currentprice.json');
            let data = await res.json();
            const result = data.bpi.USD.rate.split(".")[0];
            document.getElementById('btcUSD').innerText = result;
        }

        btcPrice();

    </script>
    

</body>
</html>