<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>arch</title>

    <link rel="stylesheet" href="style.css">

    <style>

body{
    background: rgb(248, 255, 255)
}

.wrapper{
    display: grid;
    align-items: stretch;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: strech;
    grid-gap: none;
    padding: none;
}
.wrapper > div{
    padding: 0.2em;
}
.box{
    text-justify: distribute;
    padding: none;
    margin: none;
}
.box1{
    grid-column: 1/4;
    padding-bottom: 50px;
    margin-bottom: 2.5em;
    border-bottom: 1px black solid;
    align-content: center;
    text-align: center;
}
.box2{
    grid-column: 1/2;
    border-right: 1px black solid;
    align-items: stretch;
}
.box3{
    grid-column: 2/3;
    border-right: 1px black solid;
    align-items: stretch;
    padding-right: 1em;
}
.box4{
    grid-column: 3/4;
}
p{
    font-size: 0.85em;
    font-family: sans-serif
}
.box2 > div:nth-child(odd){
    background: rgb(239, 242, 243);
    text-justify: distribute;
    padding: none;
    margin: 1em 0em;


}
.box3 > div:nth-child(even){
    background: rgb(239, 242, 243);
    text-justify: distribute;
    padding: none;
    margin: 1em 0em;
}
.box4 > div:nth-child(odd){
    background: rgb(239, 242, 243);
    text-justify: distribute;
    padding: none;
}
.border-top{
    border-top: 1px rgb(179, 179, 179) solid;
}
.border-bottom{
    border-bottom: 1px rgb(179, 179, 179) solid;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: brown;
}
p{
    font-size: 0.8em;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div{
    margin-top: 0.5em;
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-weight: 300;

}
blockquote{
  font-family: Geneva, serif;
}
    </style>



</head>
<body>

    {{> alert}}

    <p id="test"></p>

    <div class="wrapper">

        <div class="box box1">
            <h4>arch report</h4>
            <br>
            <blockquote>"The diameter of your knowledge is the circumference of your activity"</blockquote>
          </div>

        <div class="box box2">  {{> box2}} </div><!--box2-->
        <div class="box box3">  {{> box3}} </div><!--box3-->
        <div class="box box4">  {{> box4}} </div><!--box4-->
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous">
    </script>

    <script>
        //$('h4').css('color','blue');
        $('document').ready(() => {
            $.get('http://localhost:3000/logs/5b33c61fa842c549e04a42e8', (data) => {
                const title = data.log.title;
                const link = data.log.url;
                const date = data.log.entryDate;

                var post = `<div><a href="http://${link}">${title}</a></div>`;

                document.getElementById('test').innerHTML = post;
            });
        });
    </script>

</body>
</html>
