
{{> header }}

    <h1>Log In</h1>
        
    <div>
        <label for="email">Email:  test@user.com</label>
        <input type="email" name="email" id="email">
    </div>

    <div>
        <label for="password">Password:  1q2w3e4r5t</label>
        <input type="password" name="password" id="password">
    </div>

    <button type="" id="login">LOG IN</button>

    <p id="info"></p>

    <script src="scripts/login.js"></script>

{{> footer}}