<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
    
    <h4>Sign Up!</h4>
    <a href="/">Go Home</a><br><br>
        
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>

        <button type="" id="submit">Sing Up</button>


        <p id="info"></p>



    <script>
        console.log(new Date().toTimeString())

        const submit = document.getElementById('submit');
        const _email = document.getElementById('email');
        const _password = document.getElementById('password');
        const info = document.getElementById('info');

        submit.addEventListener('click', function(){

            const data = {}
            data.email = _email.value
            data.password = _password.value

            const post = async () => {

                return await fetch('http://localhost:8000/user/signup', {
                    method: 'POST',
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(data),
                    mode: 'cors'
                })
                .then(res => res.json())
                .then(res => {
                    console.log(res)
                })
            }

            post();

        })


        

    </script>

</body>
</html>