
{{> header}}
    
    <h4>Sign Up!</h4>


        <p id="info"></p>

        <br><br>

        <section class="pure-g">

            <form class="pure-form pure-form-stacked pure-u-1 pure-u-md-1-2">

                <fieldset>
                    <legend>Enter details to sign up</legend>

                    <label for="email">Email test@user.com</label>
                    <input 
                        id="email" 
                        type="email" 
                        placeholder="pickAnyEmail@email.com"
                        required
                    >

                    <br>

                    <label for="password">Password 1q2w3e4r5t</label>
                    <input 
                        id="password"
                        type="password" 
                        placeholder="b4dp4ssw0rd"
                        required
                    >
                    <span class="pure-form-message">Password must contain atleast 10 chars</span>

                    <br>

                    <button 
                        type="submit" 
                        class="pure-button pure-button-primary button-large" 
                        id="submit"
                    >
                        Sign up
                    </button>
                </fieldset>
            </form>

        </section>
   
    <script src="scripts/signup.js">
    </script>

</body>
</html>